header {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  width: 100%;
}

div {

}

header .logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 60%;
}

header span {
  padding-left: 10px;
  color: MediumAquamarine;
  font-family: Verdana;
}

header nav {
  display: flex;
  align-items: center;
}

nav span {
  display: inline-block;
  padding: 25px 15px;
}

a {
  color: black;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.description {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.main-story .image {
  display: flex;
  background-image: url('../images/img-story-main.png');
  height: 300px;
}

.main-story .image span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.image-1 {
  display: flex;
  background-image: url('../images/img-story-2.png');
  height: 300px;
  justify-content: center;
}

.image-1 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.image-2 {
  display: flex;
  background-image: url('../images/img-story-3.png');
  height: 300px;
  justify-content: space-around;
}

.image-2 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0 50px;
  text-align: center;
}

.image-3 {
  display: flex;
  background-image: url('../images/img-story-1.png');
  height: 300px;
  justify-content: space-around;
}

.image-3 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
