header {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  width: 100%;
}

div {
  
}

header .logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 60%;
}

header span {
  padding-left: 10px;
  color: MediumAquamarine;
  font-family: Verdana;
}

header nav {
  display: flex;
  align-items: center;
}

nav span {
  display: inline-block;
  padding: 25px 15px;
}

a {
  color: black;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
